*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #f0f0f0;
  font-size: 12px;
  line-height: 19px;
  color: #333333;
}

.card-img {
  width: 300px !important;
  height: 200px !important;
  object-fit: cover;
}

img {
  max-width: 100%;
}

.subtitle {
  font-size: 16px; 
  color: #333333; 
  font-weight: 600;
  margin-top: 5px;
}

.item{
    color: #333333;
    font-size: 13px;
}

.size {
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 20px;
}

.full {
  width: 100%;
  float: left;
}

.left {
  width: 75%;
  float: left;
}

.right {
  width: 25%;
  float: right;
  text-align: right;
}

p {
  margin: 0;
}

.card-grid {
  width: 100%;
  display: inline-block;
  margin-top: 50px;
  /* margin-left: 60px; */
  padding-left: 5%;
  margin-bottom: 50px;
}

.card-grid:after {
  content: "";
  display: table;
  clear: both;
}

.card-wrap {
  float: left;
  width: 100%;
  margin: 8px 8px 24px;
  padding: 0px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}

@media only screen and (min-width: 768px) and (max-width: 890px) {

  .card-grid {
    margin-left: 0px !important;
  }
  .card-wrap {
    width: 30.3% !important;
    padding-left: 12px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .card-wrap {
    width: 45.45% !important;
    padding-left: 35px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .card-grid {
    padding-left: 50px !important;
    margin-left: 0px !important;
  }

  .card-wrap {
    width: 100%;
  }
}

@media only screen and (max-width: 375px) {
  .card-grid {
    /* padding-left: 35px !important; */
    margin-left: -15px !important;
  }

  .card-wrap {
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 891px) and (max-width: 1800px) {
  .card-grid {
    /* padding-left: 30px !important; */
    margin-left: 15px !important;
  }
  .card-wrap {
    width: 22.7% !important;
    /* padding-left: 100px !important; */
  }
}


@media only screen  and (min-width : 1801px) {
    .card-wrap {
      width: 22.7% !important;
      padding-left: 100px !important;
    }
    }

.card {
  background-color: #f0f0f0;
  border-radius: 2px;
  border: 0px solid #f0f0f0;
  border-bottom: 0px solid #f0f0f0;
  float: left;
  margin-bottom: px;
}

.card > div {
  padding: 0 8px 0px;
}
