nav {
  background-color: #2d9cdb;
  height: 70px;
}

img.union-logo {
  width: 80px !important;
  margin-right: 50px;
}

.union-title {
  font-size: 20px !important;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 0px;
}

.union-faded {
  font-weight: 400 !important;
  color: #f0f0f0 !important;
}

.menu {
  font-size: 16px;
  color: #ffffff;
  display: block;
  width: 20%;
  z-index: 100;
  position: absolute;
}

#searchInput {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #fff;
  margin-left: 30px;
}

input::placeholder {
  color: #ffffff;
}

.drop-down-menu {
  list-style: none;
  width: 60%;
  background-color: #2d9cdb;
  display: inline-block;
  margin: 0;
  height: 300px;
  position: relative;
}

.searchReady:focus {
  width: 500px;
  transition: 2s;
}

ul li {
  display: block;
  z-index: 1000 !important;
}

.hamburger {
  color: #ffffff !important;
  font-size: 20px;
}

.menu-handles {
  margin-left: 50px;
}

.list-item {
  color: #ffffff !important;
  line-height: 50px;
  font-size: 16px !important;
}

.search {
  position: absolute;
  font-size: 20px !important;
  color: #ffffff !important;
}

.search-items {
  position: absolute;
  margin-left: 100px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .navbar {
    display: flex;
    justify-content: flex-start;
  }

  .menu-handles {
    margin-left: 0px !important;
    border-right: 0px !important;
  }

  .img.union-logo {
    margin-right: 0px !important;
  }

  .union-logo {
    margin-left: 100px !important;
    margin-right: 0px !important;
    width: 80px;
  }

  .union-title {
    display: none !important;
  }

  .form-inline {
    margin-left: 80px;
  }

  .drop-down-menu {
    list-style: none;
    width: 150px;
    background-color: #2d9cdb;
    display: inline-block;
    margin: 0;
    height: 300px;
    position: relative;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .union-logo {
    display: none;
  }
}

@media only screen and (min-width: 1801px) {
  .list-item {
    color: #ffffff !important;
    line-height: 50px;
    font-size: 16px !important;
    margin-left: 50px !important;
  }
}
